* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .logo {
    color: white;
  }
  .nav-items{
    display: flex;
  }
  .nav-items > a {
    text-decoration: none;
    margin-left: 15px;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
  .nav-items > button {
    margin-left: 15px;
    background-color: blue;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
  }
  .hero-section {
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero-text-section {
    color: white;
    margin-left: 4rem;
    margin-top: 4rem;
  }
  .hero-text-section > h1 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  .hero-text-section > p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
  }
  
  .hero-text-section > button {
    background-color: blue;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
  }